doctype html
html
	head
		meta(charset='utf-8')
		title Admin Dashboard
		link(rel='stylesheet', type='text/css', href='/dist/style/admin.css')

	body
		//- audio#audioTag(controls)
				img#imgTag(height=100)		

		#side-region
			#nav-region
			#playlistsLayout
				strong Playlists:
				#playlistsRegion

		#content-region

			#statusLayout
				div soem stauses

			#searchLayout
				form#searchForm
					input(name='query', placeholder='Search')
					select(name='type')
						option(value='any', selected) Any
						option(value='file') File
						option(value='title') Title
						option(value='artist') Artist
						option(value='album') Album
						option(value='albumartist') Album Artist
						option(value='genre') Genre
					button(type='submit') Search
				#searchResult

			#browseLayout
				#browsePath
				#fileList

			#playlistLayout
				#playlistInfo
				#playlistList

			#scheduleLayout
				#fullCalendar

			#queueLayout
				#queueList



		script(type="text/javascript", src="/dist/js/libs.min.js")
		script(type="text/javascript", src="/dist/js/common.min.js")
		script(type="text/javascript", src="/dist/js/admin.min.js")

		if env == 'development'
			script(src="http://192.168.0.109:35729/livereload.js")
