doctype html
html
	head
		meta(charset='utf-8')

		title Login

		link(rel='icon', type='image/x-icon', href='/favicon.ico')
		link(rel='stylesheet', type='text/css', href='/dist/style/main.css')
	body
		h1 Login

		a(href="/auth/twitter") Auth with twitter