<td class='textright'><span>{{track}}</span></td>
<td>
{{#directory}}
	<span class='browse'>[{{title}}]</span>
{{/directory}}
{{^directory}}
	<a class='play{{extraclasses}}'>{{title}}</a>
{{/directory}}
</td>
<td><a class='artist'>{{artist}}</a></td>
<td><a class='albumartist'>{{albumartist}}</a></td>
<td><a class='album'>{{album}}</a></td>
<td><a class='browse'>{{dir}}</a></td>
<td><a class='play'>{{name}}</a></td>
<td><span>{{time}}</span></td>
<td><a class='genre'>{{genrefix}}</a></td>
<td><span>{{date}}</span></td>
<td><span>{{last-modified}}</span></td>
