@import '_base'

a
	color #ffb330
	text-decoration none

a:hover {
	text-decoration: underline;
}

.left {
	float: left;
}

.right {
	float: right;
}
.textright {
	text-align: right;
}


#player {
	position: relative;

	#nowplayingwrap {
		#nowtitle, #nowartist {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		#nowtitle {
			font-size: 18px;
			a {
				color: white;
				text-decoration: underline;
			}
		}
		#nowartist {
			font-size: 15px;
			color: rgba(255, 255, 255, 0.5);
			margin-top: 1px;
		}
	}

	#volume {
		position: absolute;
		top: 80px;
		right: 120px;

		&:before {
			content: "";
			left: 0;
			top: -40px;
			position: absolute;
			width: 24px;
			height: 24px;
			padding-right: 9px;
			padding-left: 5px;
			padding-bottom: 17px;
			//background: red;
			background-image: url('/img/icons/volume.png');
			background-size: 24px;
			background-repeat: no-repeat;
			background-position: center center;
			opacity: 0.5;
		}

		& > div {
			z-index: 1;
			position: absolute;
			visibility: hidden;
			background-color: #2d2d2d;
			padding: 10px;
			margin-left: -90px;
		}

		&:hover > div, &:active > div {
			visibility: visible;
		}

		#radioVolume {
			width: 200px;
		}
	}

	.legend {
		position: absolute;
		line-height: 16px;
		font-size: 15px;
		color: rgba(255, 255, 255, 0.5);

		a {
			opacity: 0.7;
		}

		.listenersicon {
			height: 14px;
			opacity: 0.5;
			position: relative;
			margin-left: 4px;
			top: 1px;
		}

	}

	#playstopbtn {
		width: 60px;
		height: 60px;
		padding: 0;
		background-color: #ffb330;
		border: none;
		position: relative;
		color: transparent;
		cursor: pointer;

		&:focus {
			outline: none;
		}

		&:before {
			position: absolute;
			content: "";

			left: 19px;
			top: 16px;
			border: 0px solid transparent;
			border-width: 14px 25px;
			border-left-color: #2d2d2d;
		}

		&.loading:before {
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			border: none;
			background-image: url('/img/spinner.gif');
			background-repeat: no-repeat;
			background-position: center center;
		}

		&.stop:before {
			left: 17px;
			top: 17px;
			border: none;
			background-color: #2d2d2d;
			width: 26px;
			height: 26px;
		}
	}
}

