
@require '_vars'
@require 'base'

@require '_liveplayer'

html, body
	margin 0
	padding 0
	height 100%
	overflow hidden
	background-color black

#liveplayer
	position absolute
	left 0
	right 0
	top 0
	bottom 0
	height auto
	width auto