#nav-region {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			padding: 10px;
			cursor: default;
			a {
				color: white;
			}

			&.current {
				a {
					color: orange;
				}
				background-color: #320;
			}

			&:hover {
				background-color: orange;
				a {
					color: black;
				}
			}
			a {
				text-decoration: none;
			}
		}
	}
}

#content-region {
	> * {
		display: none;
	}
}
