
@import '_vars'
@import 'base'
@import 'radio'

.container {
	min-width: 320px;
	max-width: 400px;
	margin: 0 auto;
	padding: 0 10px;
	text-align: center;
}

#popout {
	background-color: #2d2d2d;
}

#logo {
	width: 80px;
	height: 80px;
	margin: 10px;
	float: left;
}

#cover {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	height: 80px;
	border: 1px solid #202020;
	background-color: black;
}

#playstopbtn {
	float: right;
	margin: 20px 10px;
}

#nowplayingwrap {
	clear: both;
	text-align: left;
	display: block;
	margin-top: 10px;
	padding-bottom: 20px;
}

#footer {
	margin-top: 5px;
	opacity: 0.4;
}

#player #volume {
	right: 115px;
	top: 83px;
}
#volume > div {
	margin-left: -180px;
}

#player .legend {
	right: 83px;
	top: 24px;
}
