
body
	margin 0
	background-color black
	background-image url('/img/mlp_fim__free_background_2_by_jackiephantom13-d4640m4 edited.png')
	background-position center top
	background-repeat no-repeat
	color white


.container
	max-width 1000px
	margin 0 auto


#footer
	padding-bottom 20px
