
body
	margin 0
	background-color black
	background-image url('/img/background-nmn.jpg')
	background-position center top
	background-repeat no-repeat
	color white


.container
	max-width 1000px
	margin 0 auto


#footer
	padding-bottom 20px
