
body
	margin 0
	background-color black
	background-image url('/img/background-nmn.jpg')
	background-position center top
	background-repeat no-repeat
	color white

.container
	max-width 1000px
	margin 0 auto

#footer
	font-size 13px
	padding-bottom 40px
	color #444
	a
		color #888
	a:hover
		color #a9c5c8
	a.external
		opacity 0.7
		img
			height 15px
			padding 10px 6px
		&:hover
			opacity 1
			filter saturate(10) hue-rotate(-10deg)
