

@media screen and (max-width: 1000px)

	#top h1, #top #subtitle
		display none

	#logo
		margin-left 20px

	#player
		left 110px

	#badges-title
		margin-left 7px
	#badges
		img
			margin 0
			border 5px solid transparent
			width 33%

@media screen and (max-width: 700px)
	#logo
		display none

	#player
		left 0

	#playhistory
		.content
			right 5px
		.right
			display none

	#badges
		img
			width 50%

@media screen and (max-width: 480px)
	#bigplayer, #playhistory
		width 100%

	#bigplayer .content
		padding 5%
		#bigcover
			max-width 80%

	#playhistory
		.content
			right 110px
		.right
			display block


	#badges
		img
			width 100%
