

@media screen and (max-width: 1000px)


	#top
		h1, #subtitle
			opacity 0
		#logo
			margin-left 17px
		#player
			left 100px
			right 0

	#bigplayertop
		padding-bottom 5px
		#bigplayertitle
			font-size 24px
		#bigplayerartist
			font-size 22px

	#badges-title
		margin-left 7px
	#badges
		img
			margin 0
			border 5px solid transparent
			width 33%

@media screen and (max-width: 700px)

	#top
		#logo
			margin-left 5px
		#player
			left 75px
			right -10px

	#bigplayertop
		#bigplayertitle
			font-size 22px
		#bigplayerartist
			font-size 20px

	#playhistory
		margin-bottom 20px
		.content
			right 5px
		.right
			display none

@media screen and (max-width: 480px)

	#top
		#logo
			display none

		#player
			left 0

	#pageHistory
		padding-top 20px

	#bigplayer, #playhistory
		width 100%

	#bigplayer #bigplayerinfo
		padding 0 5%
		padding-top 10px
	#bigplayer #bigcover
		width 90%
		padding-top 90%
	#bigplayer .headline
		display none

	#bigplayertop
		padding-bottom 10px
		text-align center
		#bigplayertitle
			font-size 20px
		#bigplayerartist
			font-size 18px

	#bigplayercomment
		margin-top 10px
		margin-left 0
		margin-right 0
		padding 5px 5%
		overflow visible
		max-height none

	#playhistory
		margin-bottom 0
		.content
			right 110px
		.right
			display block


	#badges
		img
			width 50%
