

@media screen and (max-width: 1000px)

	#top h1, #top #subtitle
		display: none

	#logo
		margin-left 20px

	#player
		left 110px

@media screen and (max-width: 700px)
	#logo
		display none

	#player
		left 0

	.trackstable tr td.date
		display none